dt strong{font-style: oblique;color: rgb(57, 137, 212);}
                div#info{color: rgb(64, 163, 97);}
                div p{font-family: cursive;}
                .price{font-family: georgia , serif , cursive ;color: gray;}
                .label{font-weight: bold ; font-variant: small-caps;font-family: verdana;}
                .warning{font-size:xx-small;color: rgb(226, 12, 41);}